<ion-view view-title="Novo Alerta">

  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="cancelCreate()">Cancelar</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear"
            type="submit"
            form="createAlertForm">Salvar</button>
  </ion-nav-buttons>

  <ion-content>
    <!--Form with floating labels-->
    <form name="createAlertForm"
          novalidate=""
          ng-submit="addAlert(createAlertForm)"
          class="create-form"
          id="createAlertForm">

      <ion-list >

        <img src="img/barraDataInicio.png" width="100%"/>
        <label class="item item-icon-right assertive"
        ng-click="openDatePicker()"
        name="startDate"
        ng-model="formData.startDate">
            Data de Início
          <span class="item-note calm">
            {{ alert.startDate | date:'dd/MM/yyyy' }}
          </span>
          <i class="icon ion-ios-arrow-forward" style="color: lightgray"></i>
        </label>

        <!-- Alert Duration -->
        <img src="img/barraDuracao.png" width="100%"/>
        <ion-item>

          <div class="row">
            <div class="col item-input-inset">
              <label class="item-input-wrapper">
                <input type="text"
                name="duration"
                ng-model="formData.duration" />
              </label>
            </div>
            <div class="col col-75">
              <div class=" button-bar">
                <a class="button button-outline button-assertive segmented-collapsed"
                   ng-click="createAlertForm.durationUnity=0"
                   ng-class="{active: createAlertForm.durationUnity == 'dia'}">dia</a>
                <a class="button button-outline button-assertive segmented-collapsed"
                   ng-click="createAlertForm.durationUnity=1"
                   ng-class="{active: createAlertForm.durationUnity == 'semana'}">semana</a>
                <a class="button button-outline button-assertive segmented-collapsed"
                   ng-click="createAlertForm.durationUnity=2"
                   ng-class="{active: createAlertForm.durationUnity == 'mês'}">mês</a>
              </div>
            </div>
          </div>
        </div>
        </ion-item>

        <!-- Alert Interval -->
        <label class="item item-input item-select">
          <div class="input-label assertive">
            Intervalo
          </div>
          <select name="interval" ng-model="formData.interval">
            <option>1 hora</option>
            <option>2 horas</option>
            <option>3 horas</option>
            <option>4 horas</option>
            <option>6 horas</option>
            <option>8 horas</option>
            <option>12 horas</option>
            <option>24 horas</option>
          </select>
        </label>

        <!-- Alert Medicament -->
        <label class="item item-icon-right assertive"
               ng-click=""
               name="medicamentId"
               ng-model="formData.medicamentId"
               ui-sref="medicamentsList">
            Remédio
          <span class="item-note calm">
            {{medicament.name}}
          </span>
          <i class="icon ion-ios-arrow-forward" style="color: lightgray"></i>
        </label>

      </ion-list>
    </form>
  </ion-content>
</ion-view>
