<ion-view view-title="Novo Remédio">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="cancelCreate()">Cancelar</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button button-clear"
            type="submit"
            form="createMedicamentForm">Salvar</button>
  </ion-nav-buttons>

  <ion-content>
     <!--Form with floating labels-->
    <form name="createMedicamentForm"
          novalidate=""
          ng-submit="addMedicament(createMedicamentForm)"
          class="create-form"
          id="createMedicamentForm">

      <ion-list >

        <!-- Medicament Name -->
        <label class="item item-input item-stacked-label"
               ng-class="{'has-error':createMedicamentForm.name.$invalid}" >
        <span class="input-label" >Nome</span >
        <input type="text"
               placeholder="Nome do remédio"
               name="name"
               ng-model="formData.name"
               ng-required="true"
               ng-minlength="2">
        </label >
        <div class="form-errors"
             ng-messages="createMedicamentForm.name.$error">
          <div ng-messages-include="templates/form-errors.html"> </div>
          <div class="form-error"
               ng-message="minlength" >Por favor, insira um nome válido.
          </div >
        </div>

      </ion-list>

      <button class="button button-icon ion-camera"
              type="button"
              ng-click="addPicture()">
      </button>

      <div class="padding" ng-show="picture">
        <div class="picture">
          <img ng-src="data:image/jpeg;base64,{{picture}}"
               alt="" />
        </div >
      </div>

    </form>

  </ion-content>
</ion-view>
