<ion-view view-title="Meus Remédios">

  <div class="platform-android bar-custom bar bar-subheader">
    <div class="button-bar">
      <a class="button button-outline button-assertive" ng-click="remedios.filter=false"
         ng-class="{active: remedios.filter == false}">Válidos</a>
      <a class="button button-outline button-assertive" ng-click="remedios.filter=true"
         ng-class="{active: remedios.filter == true}">Vencidos</a>
    </div>
  </div>

  <ion-content class="has-header has-subheader">
    <ion-list>
      <ion-item class=" item-thumbnail-left item-icon-right" ng-repeat="remedio in remedios.remedios | filter : remedios.filter" type="item-text-wrap" href="#/tab/remedios/{{remedio.id}}">
        <img ng-src="{{remedio.face}}">
        <h2 class="item-text-center-vertical color-mfblue">{{remedio.name}}</h2>
        <p class="color-mfblue">{{remedio.expirationDate}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive color-background-mflightblue" ng-click="">
          Tomei
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(remedio)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

